header {
    flex-direction: row;
    display: fixed;
    height: 40px;
    background-color: $mainBlue;
    width: 100vw;

}


.header-inner-div {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    color: #eee;

    & h3 {
        padding: .8rem 1rem;

    }

    & a {
        cursor: pointer;
        transition: all .3s;
        display: inline-block;
        padding: .8rem 1rem;
    }
}

.header-inner-div h3 {}


#logout-link:hover {
    background-color: #eee;
    color: black;
}