#sidebar {
    width: 20%;
    height: 100%;
    background-color: $mainBlue;
    position: fixed;
}

#sidebar:first-child {
    margin-top: 40px;
}

.sidebar-friendList-header {
    color: #eee;
}

.main-link-div {
    height: 180px;
}

.sidebar-main-link {
    color: #eee;
    transition: all .3s;
    cursor: pointer;
}

.sidebar-active,
.pure-menu-link:hover {
    font-size: 1.6rem;
    color: black;
    background-color: #eee;
}