#sidebar {
  width: 20%;
  height: 100%;
  background-color: $mainBlue;
  position: fixed;
}

#sidebar:first-child {
  margin-top: 40px;
}

.sidebar-friendList-header {
  color: #eee;
}

.main-link-div {
  height: 180px;
}

.sidebar-main-link {
  color: #eee;
  transition: all 0.3s;
  cursor: pointer;
}

.sidebar-active,
.pure-menu-link:hover {
  color: black;
  background-color: #eee;
}

.sidebar-active {
  font-size: 1.6rem;
}
