.welcome {
  width: 30%;
  margin-left: auto;
  margin-right: auto;

  &-legend {
    display: flex;
    justify-content: space-between;

    & button {}
  }

  &-header-active {
    background-color: $mainBlue;
    opacity: 0.8;
  }

  &-headline {
    font-size: 4.5rem;
    font-weight: 100;
    text-align: center;
  }
}